<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600&display=swap" rel="stylesheet">

    <title>Randomized news</title>
</head>
<body>
<h1>The Randomly Generated News Machine</h1>
<h2><%=@message%></h2>
<% @articles.each do |article| %>
    <div class="article-card">
        <a href="/articles/<%=article.id%>"><%= article.title%></a>
    </div>
<%end%>
</body>
</html>
